html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.input{
    background-color: white;
    padding: 50px 100px;
    text-align: center;
    border: 5px solid black;
}
p{
    font-size: 200%;
}
input{
    width: 100%;
}
button:hover{

}