html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.input {
    background-color: white;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    width: fit-content;
}

.qr {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
}

.img {
    margin-top: 30px;
}

#downloadBtn {
    background-color: rgb(0, 238, 255);
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
    margin-top: 20px;
    display: none;
}

#downloadBtn:hover {
    transform: scale(1.05);
    background-color: gray;
}

p {
    font-size: 200%;
}

input {
    height: 50px;
    width: 250px;
    border-radius: 20px;
    padding-left: 15px;
}

/* Style for placeholder text */
input::placeholder {
    padding-left: 5px; /* Additional padding for placeholder if needed */
}

button {
    background-color: rgb(255, 0, 0);
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    transform: scale(1.05);
    background-color: gray;
}